<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <img src="logo.png" class="left-login-img" alt="logo">
        </div>
        <!--card info de login-->
        <form action="" method="post">
        <div class="right-login">
            <div class="card-login">
                <h1> Login </h1>
                <div class="textfield">
                    <label for="usuario"> Usuário </label>
                    <input type="text" name="nomeForm" placeholder="Usuário">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senhaForm" placeholder="Senha">
                </div>
                <button class="btn-login"><a href="/registrar">Login</a></button>
            </div>
            <form></form>
            <!--fim do card-->
        </div>
    </div>
</body>
</html>
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="post">
        <p>{{mensagem}}</p>
        Usuário: <input type="text" name="nomeForm" id=""><br>
        Senha: <input type="password" name="senhaForm" id=""><br>
        <input type="submit" value="login">
        <a href="/registrar">Registrar</a>


    </form>


</body>
</html>-->
