<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <h1>Registrar</h1>
    <form action="" method="post">
        <p>{{mensagem}}</p>
        Usuário: <input type="text" name="nomeForm" id=""><br>
        Email: <input type="email" name="emailForm" id=""><br>
        telefone: <input type="text" name="telefoneForm" id=""><br>
        CPF/CNPJ: <input type="text" name="cpfForm" id=""><br>
        Senha: <input type="password" name="senhaForm" id=""><br>
        confirmar senha: <input type="password" name="confirmarSenhaForm" id=""><br>
        <input type="submit" value="Registrar">
        <a href="/login">Login</a>

    </form>
</body>
</html>