<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/registrar.css">
    <title>Registrar</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <img src="../img/logo.png" class="left-login-img" alt="logo">
        </div>

        <div class="right-login">
            <div class="card-login">
                <h1>Cadastrar-se</h1>
                <form action="" method="post">
                    <div class="form-container">
                        <div class="textfield">
                            <label for="usuario">Usuário</label>
                            <input type="text" name="nomeForm" placeholder="Usuário">
                        </div>
                        <div class="textfield">
                            <label for="email">Email</label>
                            <input type="email" name="emailForm" placeholder="Email">
                        </div>
                        <div class="textfield">
                            <label for="telefone">Telefone</label>
                            <input type="text" name="telefoneForm" placeholder="Telefone">
                        </div>
                        <div class="textfield">
                            <label for="cpf">CPF/CNPJ</label>
                            <input type="text" name="cpfForm" placeholder="CPF OU CNPJ">
                        </div>
                        <div class="textfield">
                            <label for="senha">Senha</label>
                            <input type="password" name="senhaForm" placeholder="Senha">
                        </div>
                        <div class="textfield">
                            <label for="senha">Confirme a senha</label>
                            <input type="password" name="confirmarSenhaForm" placeholder="Senha">
                        </div>
                    </div>
                    <button class="btn-login"><a href="/registrar">Registrar-se</a></button>   
                    <a href="/login" class="link-login">Login</a>
                </form>
            </div>
        </div>
        
</body>
</html>
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <h1>Registrar</h1>
    <form action="" method="post">
        <p>{{mensagem}}</p>
        Usuário: <input type="text" name="nomeForm" id=""><br>
        Email: <input type="email" name="emailForm" id=""><br>
        telefone: <input type="text" name="telefoneForm" id=""><br>
        CPF/CNPJ: <input type="text" name="cpfForm" id=""><br>
        Senha: <input type="password" name="senhaForm" id=""><br>
        confirmar senha: <input type="password" name="confirmarSenhaForm" id=""><br>
        <input type="submit" value="Registrar">
        <a href="/login">Login</a>

    </form>
</body>
</html>-->
